@model Coffee.WebUi.Models.TotalCreditInfo

@{
    ViewBag.Title = "PaymentChart";
}

<h2>Credit Info</h2>

<p>@Model.Item1.Amount BYR issued @Model.Item1.IssueDate for @Model.Item1.Period months</p>
<p>@Model.Item1.Passport.FullName, Passport#@Model.Item1.Passport.PassportNumber</p>

<p>Already paid: @Model.Item2</p>
<p>Current debt: @Model.Item3</p>

Remaining payments:
@foreach (var p in Model.Item4)
{
    string style = p.Item1 < DateTime.Now ? "background-color: red;" : "";
    <p style="@style">@(p.Item1.ToShortDateString() + " -- " + p.Item2.ToString() + "BYR")</p>
}

@Html.ActionLink("Accept payment", "Accept", new RouteValueDictionary() { { "req", @Model.Item1 } })