
    @{
        Layout = "~/Views/Shared/_Layout.cshtml";
    
    }


@section javascript{
    @RenderSection("javascript", false)
    <script src="@Url.Content("~/Content/bootstrap/js/bootstrap.min.js")" type="text/javascript"></script>
}

@section css{
    @RenderSection("css", false)
    <link href="@Url.Content("~/Content/bootstrap/css/bootstrap-responsive.min.css")" rel="stylesheet" type="text/css" />
}

@section AfterHeader{

<div class="navbar">
    <div class="navbar-inner @(HttpContext.Current.User.IsInRole("Clerk") ? "clerk" : (HttpContext.Current.User.IsInRole("Committee") ? "committee" : (HttpContext.Current.User.IsInRole("Cashier") ? "cashier" : "external")))" id="change-modes-on-top"> 
        @if (HttpContext.Current.User.Identity.IsAuthenticated && Coffee.WebUi.Scripts.MembershipHelper.IsExternalUser(HttpContext.Current.User))
        {
            <ul class="nav">
                <li class="@RenderSection("createNewRequestActive", required: false)">
                @Html.ActionLink("Create New Credit Request", "New", "Request")
                 </li>
            </ul>
            <ul class="nav">
                <li class="@RenderSection("showCreditLinesActive", required: false)">
                @Html.ActionLink("Our Credit Products", "List", "CreditLine")
                 </li>
            </ul>
            <ul class="nav">
                <li class="@RenderSection("myRequestsActive", required: false)">
                @Html.ActionLink("Your Credit Requests", "List", "Request")
                 </li>
            </ul>
        }  

        @if (HttpContext.Current.User.IsInRole("Clerk"))
        {
        <ul class="nav">
            <li class="@RenderSection("requestsActive", required: false)">
            @Html.ActionLink("Credit requests", "List", "Request")
             </li>
        </ul>
        }
        @if (HttpContext.Current.User.IsInRole("Committee"))
        {
            
            <ul class="nav">
                <li class="@RenderSection("undecidedActive", required: false)">
                @Html.ActionLink("Undecided requests", "UnapprovedList", "Request")
                </li>
            </ul>
            <ul class="nav statistics">
                <li class="dropdown @RenderSection("statisticsActive", required: false)">
                    <a class="dropdown-toggle" data-toggle="dropdown"  href="#">Statistics</a>
                    <ul class="dropdown-menu">
                    <li>
                    @Html.ActionLink("Compare credit products", "Overview", "Statistics")
                    </li>
                    <li>
                    @Html.ActionLink("View statistics on credit products", "Overview", "Statistics")
                    </li>
                    
                    </ul>
                </li>
            </ul>
            <ul class="nav">
                <li class="@RenderSection("manageCreditLineActive", required: false)">
                @Html.ActionLink("Manage credit products", "New", "CreditLine")
                </li>
            </ul>
        }
         @if (HttpContext.Current.User.IsInRole("Cashier"))
         {
            <ul class="nav">
                <li>
                @Html.ActionLink("Approved requests", "ApprovedList", "Request")
                </li>
            </ul>
         }
        @if (!Coffee.WebUi.Scripts.MembershipHelper.IsExternalUser(HttpContext.Current.User))
        {
        <ul class="nav">
            <li class="@RenderSection("creditsActive", required: false)">
            @Html.ActionLink("Active credits", "List", "Credit")
            </li>
        </ul>
        }
    </div>
</div>
    }

@RenderBody()