<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/bootstrap/css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    @RenderSection("css", required: false)
    <script type="text/javascript" src="@Url.Content("~/Content/js/lib/jquery-1.10.2.min.js")"></script>
    @RenderSection("javascript", required: false)
    
</head>
<body>
    <div class="page">
        <header>
            <div id="title">
                <h1><a href="/" class="no-decoration">Veni, vidi, vici</a></h1>
            </div>
            <div class="current-date">
                <i>@Coffee.Entities.DateTimeHelper.GetCurrentTime().Day/@Coffee.Entities.DateTimeHelper.GetCurrentTime().Month/@Coffee.Entities.DateTimeHelper.GetCurrentTime().Year</i>
            </div>
            <div id="logindisplay">
                @Html.Partial("_LogOnPartial")
            </div>
            @RenderSection("AfterHeader", false)
        </header>
        <section id="main">
            @RenderBody()
        </section>
        <footer>
        </footer>
    </div>
</body>
</html>
