@model List<Coffee.Entities.CreditRequest>


@{
    Layout = "~/Views/Shared/_BankWorkerLayout.cshtml";
    ViewBag.Title = "List";
}

@section javascript
{
    <script type="text/javascript" src="@Url.Content("~/Content/js/listRequests.js")"></script>
}

@section requestsActive{active}


<div class="center-info">
<h2>Enter passport number to view this person's requests:</h2>
    @{Html.BeginForm(FormMethod.Get);}
    <div>
        <input name="passportNumber" id="passport-id-to-view-request" type="text" />
        <input type="submit" class="btn btn-success" />
    </div>
    @{Html.EndForm();}

 
@if (Model.Count == 0)
{ 
<div><i>No credit requests.</i></div>
}
else
{
<table id="list-of-requests" class="all-available-width">
    <tr>
        <td>Money/duration</td>
        <td>Credit product</td>
        <td>Passport number</td>
        <td></td>
    </tr>
@foreach (var creditRequest in Model)
{ 
    <tr>
        <td>
            <div class="amount">@creditRequest.Amount</div>
            <div>@creditRequest.Period months</div>    
        </td>
        <td>@if (creditRequest.CreditLine != null)
            {
            @creditRequest.CreditLine.Name}
            else
            {
                <div class="problem-credit-request first">
                    <div class="first-to-show"><b>Not specified.</b></div>
                    <div class="details">
                        <p>@if (creditRequest.AdditionalTextInfo != null)
                           {
                               @creditRequest.AdditionalTextInfo
                           }
                           else
                           { 
                           <i>No additional info.</i>
                           }</p>
                        <p><a href="#" class="hide-details btn btn-mini">hide</a><p>
                    </div>
                </div>
            }
        </td>
        <td>
            @creditRequest.PassportInfo.PassportNumber
        </td>
        <td>@if (creditRequest.CreditLine != null && creditRequest.CreditLine.IsAcceptable(creditRequest))
            {
            @Html.ActionLink("View", "Details", "Request", new { Id = creditRequest.Id }, new { @class = "btn btn-success" })
            }
            else
            { 
            @Html.ActionLink("View", "Details", "Request", new { Id = creditRequest.Id }, new { @class = "btn btn-warning" })
            }
        </td>
    </tr>
}
</table>
}
</div>