@model Coffee.Entities.CreditRequest

@{
    ViewBag.Title = "Create credit request";
}
<div class="center-info">
<h2>Create credit request</h2>

@{ Html.BeginForm("New", "Request", FormMethod.Post); }

<div>
    @Html.Label("Enter amount of money, you want to receive: ")
    @Html.TextBoxFor(x=>x.Amount)
</div>

<div>
    @Html.Label("Enter number of months: ")
    @Html.TextBoxFor(x=>x.Period)
</div>

<div>
    @Html.Label("Your average salary: ")
    @Html.TextBoxFor(x=>x.SalaryInfo.AverageSalary)
</div>

<div>
    @Html.Label("Passport number: ")
    @Html.TextBoxFor(x=>x.PassportInfo.PassportNumber)
</div>

<input class="btn btn-primary" type="submit"/>

@{Html.EndForm();}

</div>


